.block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.block li {
    float: left;
}

.block li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.block img {
    width: 50px;
    float: left;
}

.block li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.right {
    float:right;
}